{% extends "base.html" %}

{% block content %}

{% if object_list %} 

<!-- should this be inside a form? -->

<select name="seller" id="id_seller">
    <option value="" selected="selected">---------</option>
    <!-- Place all users inside a drop-down box. -->
    {% for user in object_list %} 
        <option value="{{ forloop.counter }}"> {{ user.first_name }} {{ user.last_name }} ({{ user.id }})</option>
        <!--
        <option value="{{ forloop.counter }}"> {{ user.username }}</option>

            <p>username : {{ user.username }} </p> 
            <p>first_name : {{ user.first_name }} </p> 
            <p>last_name : {{ user.last_name }} </p> 
            <p>email : {{ user.email }} </p> 
            <p>password : {{ user.password }} </p> 
            <p>is_staff : {{ user.is_staff }} </p> 
            <p>is_active : {{ user.is_active }} </p> 
            <p>is_superuser : {{ user.is_superuser }} </p> 
            <p>last_login : {{ user.last_login }} </p> 
            <p>date_joined : {{ user.date_joined }} </p> 
            
            <option value="1">dk</option>
        -->
    {% endfor %} 
</select>

{% else %} 
    No users!
{% endif %} 

{% endblock %}
